<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="PGISPlugin"
   iconfile="icon.png"
   description="Pentaho GIS Plugin"
   tooltip="Pentaho GIS Plugin Tooltip"
   category="Sirius"
   classname="com.sirius.plugins.PGISPluginMeta">
		<libraries>
    		<library name="pgisplugin.jar"/>
		</libraries>
</plugin>
